* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
  --font-family: 'Figtree', sans-serif;
}

body {
  background: var(--yellow);
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}

.card {
  background: var(--white);
  border-radius: 25px;
  border: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  max-width: 380px;
  box-shadow: 9px 9px 0px 0px var(--black);

  &__image-area {
    border-radius: 8px;
  }

  &__text-area {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

    .highlight {
      background: var(--yellow);
      padding: 0.5rem;
      font-weight: 800;
      font-size: 12px;
      border-radius: 3px;
    }

    .title {
      font-size: 20px;
      font-weight: 800;

      &:hover {
        cursor: pointer;
        color: var(--yellow);
      }
    }

    .content {
      color: var(--grey);
      font-weight: 500;
    }
  }

  &__author-detail {
    margin-top: 26px;
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 30px;
    }
    h6 {
      font-size: 15px;
      font-weight: 800;
    }
  }
}
